<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<style>
    .chessboard {
        width: 850px;
        height: 850px;
        background-image: url("/Images/bancotuong.jpg");
        position: absolute;
    }

    .chessnode {
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .chessimgnode {
        width: 50px;
        height: 50px;
    }
</style>
<div id="app" style="min-height:800px">
    <div class="chessboard">
        <div v-for="item in chessNode" class="chessnode"
             v-on:dragstart="dragStart"
             v-on:dragend="dragEnd"
             :id="item.id" v-bind:style="{ display: item.visible, top: item.top + 'px', left: item.left + 'px' }">
            <img :src="'/' + item.src" class="chessimgnode" />
        </div>
    </div>
</div>

<script>
    var matrix = [];
    var app = new Vue({
        el: '#app',
        data: {
            chessNode: [],
            top: 0,
            left: 0

        },
        methods: {
            getChessNode() {
                axios({
                    url: '/api/chess/loadChessBoard',
                    method: 'GET',
                    responseType: 'Json',

                }).then((response) => {
                    this.chessNode = response.data.chessNode;
                    matrix = response.data.maxtrix;

                });
            },
            getIndexByTopLeft(top, left, matrix) {
                var obj = {};
                for (var i = 0; i < matrix.length; i++){
                    for (var j = 0; j < matrix[i].length; j++){
                        if (Math.abs(matrix[i][j].top - top) < 20 && Math.abs(matrix[i][j].left - left) < 20){
                            obj.i = i;
                            obj.j = j;
                            obj.id = matrix[i][j].id;
                            return obj;
                        }
                    }
                }
                return null;
            },

            dragStart(event) {
                this.top = event.clientY;
                this.left = event.clientX;
            },
            dragEnd(event) {
                var id = event.currentTarget.id;
                var moveX = event.clientX - this.left;
                var moveY = event.clientY - this.top;
                moveX = moveX + event.currentTarget.offsetLeft;
                moveY = moveY + event.currentTarget.offsetTop;

                var nodeStart = this.getIndexByTopLeft(event.currentTarget.offsetTop, event.currentTarget.offsetLeft, matrix);
                var nodeEnd = this.getIndexByTopLeft(moveY, moveX, matrix);
                if (nodeEnd == null) {
                    return;
                }
                var objRemove = null;
                //quan ma
                if(id.indexOf('ma')>=0){
                    var gapI = Math.abs(nodeEnd.i - nodeStart.i);
                    var gapJ = Math.abs(nodeEnd.j - nodeStart.j);
                    if (!((gapI == 1 && gapJ == 2) || (gapJ == 1 && gapI == 2))) {
                        return;
                    }
                    if ((gapI == 1 && gapJ == 2) && (nodeEnd.j > nodeStart.j)) {
                        if (matrix[nodeStart.i][nodeStart.j + 1].id != "") {
                            return;
                        }
                    }
                    if ((gapI == 1 && gapJ == 2) && (nodeEnd.j < nodeStart.j)) {
                        if (matrix[nodeStart.i][nodeStart.j - 1].id != "") {
                            return;
                        }
                    }
                    if ((gapI == 2 && gapJ == 1) && (nodeEnd.i > nodeStart.i)) {
                        if (matrix[nodeStart.i + 1][nodeStart.j].id != "") {
                            return;
                        }
                    }
                    if ((gapI == 2 && gapJ == 1) && (nodeEnd.i < nodeStart.i)) {
                        if (matrix[nodeStart.i - 1][nodeStart.j].id != "") {
                            return;
                        }
                    }

                    if (nodeEnd.id != "" && nodeEnd.id.indexOf("do") > 0) {
                        return;
                    }
                    else {
                        if (nodeEnd.id != "") {
                            objRemove = { id: nodeEnd.id };
                        }
                    }
                }

                let params = new URL(document.location.toString()).searchParams;
                let roomId = params.get("roomId");
                var para = [{ id : id, fromi : nodeStart.i, fromj : nodeStart.j, toi : nodeEnd.i, toj : nodeEnd.j }];
                if (objRemove != null) {
                    para.push(objRemove);
                }
                axios({
                    url: 'api/chess/move-chess-node?roomId='+roomId,
                    method: 'Post',
                    responseType: 'Json',
                    data: para
                }).then((response) => {

                });

                
            }
        },
        mounted: function () {
            this.getChessNode();
            let params = new URL(document.location.toString()).searchParams;
            let roomId = params.get("roomId");
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub?roomId="+roomId).build();

            connection.on("ReceiveChessMove", function (message) {
                console.log(message);
                var response = JSON.parse(message);
                matrix[response[0].fromi][response[0].fromj].id = "";
                var nodeEnd = matrix[response[0].toi][response[0].toj];
                nodeEnd.id = response[0].id;
                var obj = document.getElementById(response[0].id);
                obj.style.top = nodeEnd.top + "px";
                obj.style.left = nodeEnd.left + "px";
                if (response.length > 1) {
                    var temp = document.getElementById(response[1].id);
                    temp.style.display = "none";
                }
            });
            connection.start().then(function () {

            }).catch(function (err) {
                return console.error(err.toString());
            });
        }
    });
</script>