@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
    Layout = "/Views/Shared/_ForgotPasswordLayout.cshtml";
}

<link rel="stylesheet" href="~/css/ForgotPassword.css" />
<script src="~/js/ForgotPassword.js"></script>

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h2>Nhập email của bạn.</h2>
    <hr />
    <form id="forgotPasswordForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" id="email" autocomplete="username" aria-required="true" placeholder="name@gmail.com" />
           
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
