@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<script src="~/js/Login.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/Login.css">
<div class="container">
    <div class="background"></div>
    <div class="decorative-circle circle1"></div>
    <div class="decorative-circle circle2"></div>
    <div class="form-container">
        <form class="login-form" id="loginForm" id="account" method="post">
            <h2>Đăng nhập</h2>
            <div class="input-group">
                <input asp-for="Input.Email" type="email" id="email" required>
                <label asp-for="Input.Email" for="email">Email</label>
            </div>
            <div class="input-group">
                <input asp-for="Input.Password" type="password" id="password" required>
                <label asp-for="Input.Password" for="password">Mật khẩu</label>
            </div>

            <button id="login-submit" type="submit">Đăng nhập</button>

            <div class="social-login">
                <a href="/Identity/Account/ForgotPassword" class="btn btn-link">Quên mật khẩu?</a>
               
            </div>
            <div class="social-login">
            <a href="/Identity/Account/Register" class="btn btn-link">Tạo tài khoản mới</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

