@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "/Views/Shared/_RegisterLayout.cshtml";
}

<script src="~/js/Register.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/Register.css">

<div class="container">
    <div class="background"></div>
    <div class="decorative-circle circle1"></div>
    <div class="decorative-circle circle2"></div>
    <div class="form-container">
        <form class="register-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Tạo tài khoản mới</h2>
            <div class="input-group">
                <input asp-for="Input.Email" type="email" id="email" required>
                <label asp-for="Input.Email" for="email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-group">
                <input asp-for="Input.Password" type="password" id="password" required>
                <label asp-for="Input.Password" for="password">Mật khẩu</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-group">
                <input asp-for="Input.ConfirmPassword" type="password" id="confirmPassword" required>
                <label asp-for="Input.ConfirmPassword" for="confirmPassword">Xác nhận mật khẩu</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit">Đăng ký</button>
            <div class="social-login">
                <a href="/Identity/Account/Login" class="btn btn-link"> Bạn có tài khoảng? Đăng nhập</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
